<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <property>
        <name>fs.s3.awsAccessKeyId</name>
        <value>XXXXX</value>
    </property>

    <property>
        <name>fs.s3.awsSecretAccessKey</name>
        <value>DDDDD</value>
    </property>

    <property>
        <name>fs.s3a.access.key</name>
        <value>DFFFSDFSD</value>
    </property>

    <property>
        <name>fs.s3a.secret.key</name>
        <value>DFSFSDFS</value>
    </property>
    
    <property>
      <name>fs.s3a.endpoint</name>
      <description>archive</description>
      <value>s3.us.archive.org</value>
    </property>

    <property>
      <name>s3service.s3-endpoint</name>
      <description>archive.org</description>
      <value>s3.us.archive.org</value>
    </property>

</configuration>
